<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= form.select :authority, ['Nurse', 'Doctor'], class: "dropdown" %>
  </p>
  <div class="form-group">
    <%= form.label :email, class: "small mb-1" %>
    <%= form.text_field :email, class: "form-control py-4", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :password, class: "small mb-1" %>
    <%= form.password_field :password, class: "form-control py-4", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, class: "small mb-1" %>
    <%= form.password_field :password_confirmation, class: "form-control py-4", required: true %>
  </div>
  
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
  <br>
<% end %>
